<article>
  <%= form_tag show_skills_path do %>
    <p><strong>Wybierz typ umiejętności: </strong>(obecnie dodane są tylko umiejętności godne)</p>
    <%= select_tag 'sphare', options_for_select([
                                                ['Wszystkie', ''],
                                                ['Godne', 'Godna'],
                                                ['Bugei', 'Bugei'],
                                                ['Kupieckie', 'Kupiecka'],
                                                ['Niegodne', 'Niegodna']
                                                ]) %>
    <%= submit_tag "Szukaj" %>
  <% end %>
</article>