<div>
  <strong>Wybierz zagadnienie: </strong><%= select_tag(:topic_id,  options_for_select([
          ['Wybierz ścieżkę','#'],
          ['Szkoły',schools_path],
          ['Czary', spells_path],
          ['Zalety i Wady', traits_path],
          ['Klany', clans_path]])) %>
</div>
