<h3><em>Wiele ścieżek prowadzi do oświecenia, którą dziś chcesz poznać?</em></h3>

<div>
	<strong>Wybierz zagadnienie: </strong><%= select_tag(:topic_id,  options_for_select([['Wybierz ścieżkę','#'],['Szkoły',schools_path]])) %>
</div>
