<% provide(:title, "Legendopedia") %>
<% provide(:header_active, "Legendopedia") %>
<h3><em>Wiele ścieżek prowadzi do oświecenia, którą dziś chcesz poznać?</em></h3>

<%= render ('legendopedia/topic_select') %>
