<% provide(:title, "Szkoły") %>
<% provide(:header_active, "Legendopedia") %>
<% breadcrumb :legendopedia_schools %>

<h1>Szkoły Rokuganu bla bla bla...</h1>

<%= render ('legendopedia/schools_form') %>


