<% provide(:title, "Szkoły") %>
<% provide(:header_active, "Legendopedia") %>

<a name="top"></a>


<!-- Pętla która wypisuje wybrane przez usera szkoły -->
<% @chosen_schools.each do |school| %>
  <div class="show_object <%=school.clan %>">
    <%= render partial: 'school_obj', locals: { school: school } %>
  </div>
<% end %>
<a href="#top">Do góry</a>
