<p>Oto lista użytkowników: </p>

<ul class="no_dot">
  <!--id_order to scope zdef w modelu user -->
  <% @users.id_order.each do |user| %>
    <li><strong><%= user.id %>.</strong> <%= user.username %>
  <% end %>
</ul>
