@import "bootstrap-sprockets";
@import "bootstrap";


/* background - umieszcza poprawnie tło w pełnej rozciągłości*/

body {
  background-image: asset-url('background.jpg');
  background-attachment: fixed;
  background-position: 100% 100%;
}

/* text area - Tworzy białą przestrzeń na której wyświetlać się będzie zawartość stron*/

.middle_box{
  margin: 0px;
  padding: 10px;
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  min-height: 50em;
}

/* logo - logo w pełnej rozciągłości*/

img.logo{
  padding: 0px;
  margin: 0px;
  display: block; 
  width:100%;
}

/* navbar - blokuje Boostrapowe domyślne zaokrąglone krawędzi navbaru*/
nav {
border-radius: 0px  !important;
}

/* footer - nadpisuje domyślne marginy i paddingi bootstrapa tak by navbar był tam gdzie powinien.*/

.navbar {
  margin: 0px;
  padding: 0px;
}

/* announcement */

.announcement{

  border: 2px solid black;
  text-indent: 5px;
  padding-bottom: 1.5em;
  margin-bottom: 3em;	
  .announcement_header {
    background-color: black;
    .header_text {
      color: white;
    }
    .text_to_right {
      float: right;
    }
    /* p są inline żeby można było wyświetlić dwa '<p>' obok siebie */ 
    p {
      display: inline;
    }
    a {
      color: white;
      &:hover {
        color: red;
      }
    }
  }
  .announcement_message {
    /* 'clear' jest wymagany bo inaczej 'p' z 'announcement_header' 
      który ma 'float' przysłonił by część treśći */
    clear: both;
    position: relative;
    max-height: 9em;	
    overflow: hidden;
    border-bottom: 1px solid black;
    p {
      margin-bottom: 0em;
      margin-left: 10px;
      margin-right: 10px;
      line-height: 1.5em;
    }
    .link_to {
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 15%;
      background-color: white;
      a {
        margin-right: 5px;
        float: right;
      }
    }
  }
  .create_comment {
    padding: 5px;
    display: none;
    ul {
      list-style-type: none;
    }
  }
  .show_comment {
    display: none;
    .show_comment_list {
      margin: 0px;
      li {
        .show_comment_block_author {
          width: 5%;
          display: inline-block;
          word-wrap: break-word;
          vertical-align: middle;
          line-height: normal;          
        }      
        .show_comment_block {
          width: 90%;
          display: inline-block;
          word-wrap: break-word;
          vertical-align: middle;
          line-height: normal;          
        }
      }
    }
  }
}
.announcement_button {
  border-top: solid black 1px;
  background-color: black;
  height: 1.5em;
  cursor: pointer;
  p {
    padding-left: 5px;
    padding-right: 5px;	
    line-height: 1.5em;
    color: white;
  }
  &:hover {
    p {
      color: red;
    }
  }
}
/* legendopedia */

.show_object {
  border-radius: 5px;
  margin-bottom: 10px;
  ul {
    list-style-type: none;
    li {
      text-align: justify;
    }
  }
  .object_list {
    padding: 0px 10px 0px 10px;
  }
}
.first {
  text-indent: 5px;
}
.img_middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

.inline_block {
  display: inline-block;
  width: 15%;
  vertical-align: top;  
}

.Cesarskie {
  box-shadow:5px 5px 5px #187562; 
  border: 1px solid #187562;  
}

.Feniks {
  box-shadow:5px 5px 5px #F4821F; 
  border: 1px solid #F4821F;  
}

.Jednorożec {
  box-shadow:5px 5px 5px #6A1AE1;
  border: 1px solid #6A1AE1;  
}

.Krab {
  box-shadow:5px 5px 5px #2F41B5;
  border: 1px solid #2F41B5;
}

.Lew {
  box-shadow:5px 5px 5px #D2B337;
  border: 1px solid #D2B337;
}

.Modliszka {
  box-shadow:5px 5px 5px #447724;
  border: 1px solid #447724; 
}

.Pająk {
  box-shadow:5px 5px 5px #818181;
  border: 1px solid #818181; 
}

.Pomniejsze {
  box-shadow:5px 5px 5px #522D19;
  border: 1px solid #522D19; 
}

.Skorpion {
  box-shadow:5px 5px 5px #850A23;
  border: 1px solid #850A23;
}
.Smok {
  box-shadow:5px 5px 5px #A3C326;
  border: 1px solid #A3C326;
}

.Zuraw {
  box-shadow:5px 5px 5px #47A0EE;
  border: 1px solid #47A0EE;
}

.czar_Ogień {
  box-shadow:5px 5px 5px #F80101;
  border: 1px solid #F80101;
}

.czar_Woda{
  box-shadow:5px 5px 5px #0109F8;
  border: 1px solid #0109F8;
}

.czar_Powietrze {
  box-shadow:5px 5px 5px #7BA3FA;
  border: 1px solid #7BA3FA;
}

.czar_Ziemia {
  box-shadow:5px 5px 5px #063501;
  border: 1px solid #063501;
}

.czar_Pustka{
  box-shadow:5px 5px 5px #A7A2A2;
  border: 1px solid #A7A2A2;
}

.czar_Maho {
  box-shadow:5px 5px 5px #97001E;
  border: 1px solid #97001E;
}

.Zaleta {
  box-shadow:5px 5px 5px #11F943;
  border: 1px solid #11F943;
}

.Wada {
  box-shadow:5px 5px 5px #97001E;
  border: 1px solid #97001E;
}
 
.advance_school_form {
  display: none;
}

.advance_spell_form {
  display: none;
}

.advance_traits_form {
  display: none;
}
/* różności */

.no_padding_and_margin {
  margin: 0px;
  padding: 0px;
}

.middle_text {
  text-align: center;
}

.padding_top_10 {
  padding-top: 10px;
}

.black_border {
  border: 1px solid black;
}
.left_border {
  border-left: 1px solid black;
}

.right_border {
  border-right: 1px solid black;
}
.margin_bottom_3em {
  margin-bottom:3em; 
}

.margin_bottom_1em {
  margin-bottom:1em; 
}
.red {
  color: red;
}

.red_sign {
  p {
    color: red;
  }
}

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.bottom_border {
  border-bottom: 1px solid black
}

.no_dot {
  list-style-type: none;
}

.block {
  display: block;
}

.clear_float {
  clear: both;
}
