@import "bootstrap-sprockets";
@import "bootstrap";


/* background - umieszcza poprawnie tło w pełnej rozciągłości*/

body {
  background-image: asset-url('background.jpg');
  background-attachment: fixed;
  background-position: 100% 100%;
}

/* text area - Tworzy białą przestrzeń na której wyświetlać się będzie zawartość stron*/

.middle_box{
	margin: 0px;
	padding: 10px;
	background-color: white;
	margin-left: 5%;
	margin-right: 5%;
}

/* logo - logo w pełnej rozciągłości*/

img.logo{
padding: 0px;
margin: 0px;
display: block; 
width:100%;
}

/* navbar - blokuje Boostrapowe domyślne zaokrąglone krawędzi navbaru*/
nav {
border-radius: 0px  !important;
}

/* footer - nadpisuje domyślne marginy i paddingi bootstrapa tak by navbar był tam gdzie powinien.*/

.navbar {
    margin: 0px;
    padding: 0px;
}

/* announcement */

.announcement{
	margin-bottom: 2%;
	/*max-height: 9em;*/
	border: 2px solid black;
	text-indent: 5px;
	.announcement_header {
		background-color: black;
		.header_text {
			color: white;
		}
	}
	.announcement_message {
		position: relative;
		max-height: 9em;	
		overflow: hidden;
		p {
			line-height: 1.5em;
		}
		.link_to {
			position: absolute;
			bottom: 0px;
			right: 0px;
			width: 15%;
			heigth: 1.5em;
			/*border: 1px solid red;*/
			background-color: white;
			a {
				margin-right: 5px;
				float: right;
			}
		}
	}
	.create_comment {
		padding-top: 2px;
		padding-bottom: 2px;
		border: solid black 1px;
		ul {
    	list-style-type: none;
		}
	}
}

/* różności */

.padding_top_10 {
	padding-top: 10px;
}

.red {
	color: red;
}



