<footer>
  <nav class="navbar navbar-inverse footer">
    <div class="container footer">
      <ul class="nav navbar-nav navbar-right small footer">
        <li ><%= link_to "Kontakt", contact_path %></li>
        <li><%= link_to "O Projekcie", "#" %></li>
        <li><%= link_to "Do Zrobienia", "#" %></li>
      </ul>
    </div>
  </nav>
</footer>
